/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::before, *::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
.wrapper{
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper-full{
  max-width: 1262px;
  margin: 0 auto;
}
body{
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}
img{
  max-width: 100%;
  height: auto;
}
.section_title{
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}
.section_title::after{
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*header start*/
.header{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  padding-bottom: 20px;
  z-index: 999;
}
.header_active{
  background: #0E1D28;
}
.header_wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
}
.header_list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header_item{
  margin-right: 82px;
}
.header_item:last-child{
  margin-right: 0;
}
.header_link{
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  
}
.header_nav{
  padding: 1;
}
.header_link:hover, .header_link:focus, .header_link:active{
  opacity: .75;
}
.burger{
  top: 0;
}
.header_burger{
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}
.burger_line{
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.burger_line_first{
  top: 0;
}
.burger_line_second{
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger_line_third{
  bottom: 0;
}
/*header end*/



/*intro start*/

.intro{
  min-height: 100vh;
  background: url(../img/intro-bg-min.jpg)no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}
.intro_title{
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  max-width: 619px;
  margin-bottom: 22px;
  color: white;
}
.intro_subtitle{
  color: white;
  max-width: 546px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
}
.serch-from_info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.serch-from_field{
  width: 297px;
  background:  transparent url(../img/svg/Oval.svg) no-repeat left 7px;
  background-size: 20px;
  border: 0;
  border-bottom:  2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.serch-from_field::-webkit-input-placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.serch-from_field::-moz-placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.serch-from_field:-ms-input-placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.serch-from_field::-ms-input-placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.serch-from_field::placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.serch-from_submit{
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color:  white;
  background-color:  #1B7DFF;
  border: none;
}
.serch-from_submit:hover, .serch-from_submit:active, .serch-from_submit:focus{
  background: #0e5abf;
}
/*intro end*/
/*benifits satr*/

.benefits{
  margin-bottom: 131px;
}
.benefits_wrapper{
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}
.benefits_title{
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 98px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: white;
}
.benefits_cards{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
  
}
.benefits_card_title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black;
}
.benefits_subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.benefits_card{
  -ms-grid-column-span: 1;
  grid-column: span 1;
}
.benefits_card_icon{
  max-width: 66px;
  margin-bottom: 38px;
  display: block;
}
.benefits_subtitle{
  margin-bottom: 38px;
}
.benefits_link{
  display: inline-block;
  padding-right: 59px;
  color: #006DFE;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background: url(../img/svg/arow.svg) no-repeat 96% center;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  margin-bottom: 112px;
}
.benefits_link:hover, .benefits_link:focus{
  background: url(../img/svg/arow.svg) no-repeat right center;
}
/*benifits end*/


/*palces start*/
.places{
  margin-bottom: 131px;
}
.places_title{
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
}
.places_caption{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /*1-4 стр разместить два элемента в ряд*/
  margin-bottom: 36px;
}
.places_title{
  margin-right: 15px;
}
.places_link{
  font-size: 16px;
  padding-right: 59px;
  color: #006DFE;
  text-decoration: none;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; /*анимация плавнее*/
  background: url(../img/svg/arow.svg) no-repeat 96% center;
}
.places_link:hover, .places_link:focus{
  opacity: 85%;/*прозрачность*/
}
.places_cards{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.places_card{
  position: relative;
  overflow: hidden;
}
.places_card::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.places_card_lg{
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.places_card-pic{
  width: 100%;
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
}
.places_card_lg{
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
}
.places_card-title{
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}
.places_card:hover .places_card-pic{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.paces_link_pic{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.places_card_sm{
  height: 283px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
/*palces end*/

/*tour start*/
.tours{
  display: -ms-grid;
  display: grid;
  /* display: flex;
  flex-wrap: wrap; */
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 139px;
}
.tours_tour{
  grid-gap: 0 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 77px;
}
.tours_tour_2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start
}
.tour_pic{
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 457px;
}
.tour_pic-2{
  margin-top: 58px;
  margin-right: 50px;
}
.tour_pic-1{
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 100px;
}
.tour_title{
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-bottom: 85px;
}
.tour_title_1{
  margin-top: 20px;
  margin-bottom: 20px;
}
.tour_title_2{
  width: 320px;
  margin-bottom: 20px;
  /* grid-column: span 2; */
}
.tour_p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 320px;
  color: #102746;
  margin-bottom: 30px;
  
}
.tour_info{
  margin-left: 150px;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.tour_info_2{
  margin-left: 10px;
  padding-left: 50px;
}
.tour_link{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  background: url(../img/svg/arow.svg) no-repeat  98% center;
  padding-right: 59px;
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.tour_link:hover, :focus {
 background: url(../img/svg/arow.svg) no-repeat  right center;
}
/*tour end*/

/*top start*/

.top{
  margin-bottom: 86px;
}
.top_title{
  margin-bottom: 54px;
}
.top_cards{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 25px;
}
.top_card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.top_card-pic{
  position: relative;
  width: 100%;
}
.top_card-stats{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px 25px ;
  background: rgba(24, 15, 15, 0.6);
  max-width: 386px;
}
.top_card-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-right: 154px;
  color: #FFFFFF;
}
.top_card-likes-value{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-right: 20px;
  margin-right: 14px;
  color: #FFFFFF;
  background: url(../img/svg/like.svg) no-repeat right;
}
.top_card-comments-value{
  padding-right: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: url(../img/svg/com.svg) no-repeat right;
}
.top_card-desc{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;  
  color: #102746;
  margin-bottom: 31px;
}
.top_card-more{
  padding: 12px 19px;
  background: #006DFE;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px; 
  color: #FFFFFF; 
  text-decoration: none;
  width: 118px;
  margin: auto 0 0 0;
}
.top_card-more:hover, .top_card-more:active, .top_card-more:focus{
  background: rgb(14, 90, 191);
}
/*top end*/
/*video start*/

.video{
  width: 100%;
}
.video_wrapper{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.video_item{
  padding-top: 56.25%;
}
.video_element{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*video end*/
/*footer start*/

.footer{
  background: #0E1D28;
  padding: 119px 0;
}
.footer_item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer_logo{
  width: 50%;
}
.footer_nav{
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_menu-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer_menu-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer_menu-link:hover, .footer_menu-link:focus, .footer_menu-link:active{
  opacity: .75;
}

/*footer end*/
/*media start*/


@media screen and (max-width: 960px) {

  .benefits{
    margin-bottom: 75px;
  }

  .benefits_wrapper{
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .serch-from_field{
    margin-bottom: 25px;
  }

  .benefits_cards{
    padding: 0 15px;
    grid-column-gap: 35px;
  }

  .benefits_card{
    margin-bottom: 60px;
  }

  .benefits_title{
    padding: 45px 15px;
  }

  .places_card_lg{
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .places_card_sm{
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .tours{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
  }

  .tour_info_2{
    padding-left: 17px;
  }

  .tours_tour_2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .tour_pic{
    -ms-grid-column-span: 4;
    grid-column: span 4;
    margin-bottom: 24px;
    padding-left: 0px;
    margin: 0 10px;
  }

  .tour_pic-2{
    margin-top: 0;
    margin: 0 10px;
  }

  .tour_link{
    font-size: 18px;
  }

  .tour_info{
    -ms-grid-column-span: 4;
    grid-column: span 4;
    margin: 0 10px;
  }

  .tour_title {
    font-size: 36px;
  }

  .tour_p{
    font-size: 18px;
    width: 100%;
  }

  .top_card{
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .top_card-pic{
    margin-bottom: 25px;
  }

  .footer{
    padding: 60px 0;
  }

}

@media screen and (max-width: 767px) {
  .header_burger {
    display: block;
  }
  .header_nav {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 10;
    padding: 75px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear;
  }
  .header_nav_active{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header_item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header_item:last-child{
    margin-bottom: 0;
  }
  .header_link{
    font-size: 42px;
    line-height: 48px;
  }
  .header_nav-close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header_nav-closed_line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
  }
  .header_nav-closed_line:first-child{
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .header_nav-closed_line:last-child{
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }

  
  .benifirs_card{
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .benefits_card_icon{
    margin-bottom: 23px;
  }
  .benefits_subtitle{
    margin-bottom: 23px;
  }
  
  .benefits_link{
    margin-bottom: 58px;
  }

  .intro{
    padding-top: 150px;
  }

  .intro_title{
    font-size: 32px;
    line-height: 48px;
  }

  .intro_subtitle{
    font-size: 14px;
  }

  .serch_form{
    width: 100%;
    margin-right: 0;
  }

  .places_title{
    font-size: 24px;
    margin-bottom: 12px;
  }
  
  .places_link{
    font-size: 14px;
  }

  .tours{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
  }

  .tour_info_2{
    padding-left: 17px;
  }

  .tours_tour_2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .tour_pic{
    -ms-grid-column-span: 4;
    grid-column: span 4;
    margin-bottom: 24px;
    padding-left: 0px;
    margin: 0 10px;
  }

  .tour_pic-2{
    margin-top: 0;
    margin: 0 10px;
  }

  .tour_link{
    font-size: 14px;
  }

  .tour_info{
    -ms-grid-column-span: 4;
    grid-column: span 4;
    margin: 0 10px;
  }

  .tour_title {
    font-size: 24px;
  }

  .tour_p{
    font-size: 14px;
    width: 100%;
  }

  /* .top_card-stats{
    justify-content: space-between;
  } */

  /* .top_card-title{
    font-size: 10px;
    margin-right: 0;
  } */

  /* /* .top_card-likes-value{
    font-size: 10px;
    background-size: 12px 10px;
    margin-left: 10px;
    padding-left: 12px; 
  } */

  /* .top_card-comments-value{
    font-size: 10px;
    background-size: 12px 10px;
  } */

  .top_card{
    -ms-grid-column-span: 6;
    grid-column: span 6;
    margin-left: 10px;
    margin-right: 10px;
  }

  .top_card-more{
    margin-bottom: 30px;
  }

  .top_card-more:last-child{
    margin-bottom: 0;
  }

  .footer_logo{
    width: 100%;
    margin-bottom: 12px;
  }

  .footer_nav{
    width: 100%;
  }
  
}

@media screen and (max-width: 365px){

  .top_card{
    margin-left: 0;
    margin-right: 0;
  }

  .tour_pic{
    margin-bottom: 24px;
    padding-left: 0px;
    margin: 0 0px;
  }

  .tour_info{
    margin: 0 0;
  }

  

}

/*media end*/
